In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Constitucion,CL,2022-03-29 06:56:40,-35.3333,-72.4167,52.68,80,1,5.86
1,1,Vaini,TO,2022-03-29 06:56:40,-21.2000,-175.2000,78.96,73,40,9.22
2,2,Ushuaia,AR,2022-03-29 06:56:03,-54.8000,-68.3000,38.86,87,75,21.85
3,3,Jamestown,US,2022-03-29 06:53:08,42.0970,-79.2353,20.71,63,75,6.91
4,4,Alyangula,AU,2022-03-29 06:56:41,-13.8483,136.4192,91.27,55,100,10.36

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Vaini,TO,2022-03-29 06:56:40,-21.2000,-175.2000,78.96,73,40,9.22
6,6,Kavieng,PG,2022-03-29 06:56:41,-2.5744,150.7967,83.14,72,5,14.92
8,8,Rikitea,PF,2022-03-29 06:56:42,-23.1203,-134.9692,77.88,70,90,2.26
10,10,Dingle,PH,2022-03-29 06:56:43,10.9995,122.6711,87.57,56,59,18.16
16,16,Yaan,NG,2022-03-29 06:56:44,7.3833,8.5667,80.87,75,21,6.80
24,24,Busselton,AU,2022-03-29 06:56:46,-33.6500,115.3333,77.95,55,100,16.31
26,26,Dwarka,IN,2022-03-29 06:56:47,22.2394,68.9678,85.91,53,5,12.30
28,28,Vanimo,PG,2022-03-29 06:56:47,-2.6741,141.3028,81.64,86,92,11.99
37,37,Avarua,CK,2022-03-29 06:56:50,-21.2078,-159.7750,77.05,88,91,4.61
38,38,Puerto Ayora,EC,2022-03-29 06:56:50,-0.7393,-90.3518,77.40,86,48,5.17

In [16]:
preferred_cities_df.count()

City_ID       147
City          147
Country       147
Date          147
Lat           147
Lng           147
Max Temp      147
Humidity      147
Cloudiness    147
Wind Speed    147
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1          Vaini      TO     78.96 -21.2000 -175.2000
6        Kavieng      PG     83.14  -2.5744  150.7967
8        Rikitea      PF     77.88 -23.1203 -134.9692
10        Dingle      PH     87.57  10.9995  122.6711
16          Yaan      NG     80.87   7.3833    8.5667
24     Busselton      AU     77.95 -33.6500  115.3333
26        Dwarka      IN     85.91  22.2394   68.9678
28        Vanimo      PG     81.64  -2.6741  141.3028
37        Avarua      CK     77.05 -21.2078 -159.7750
38  Puerto Ayora      EC     77.40  -0.7393  -90.3518

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
6,Kavieng,PG,83.14,-2.5744,150.7967,Nusa Island Retreat
8,Rikitea,PF,77.88,-23.1203,-134.9692,People ThankYou
10,Dingle,PH,87.57,10.9995,122.6711,SEGAYA PROPERTY
16,Yaan,NG,80.87,7.3833,8.5667,
24,Busselton,AU,77.95,-33.6500,115.3333,Observatory Guest House
26,Dwarka,IN,85.91,22.2394,68.9678,Hotel Narayan Avezika Comfort
28,Vanimo,PG,81.64,-2.6741,141.3028,Vahmoneh Lodge Vanimo
37,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
38,Puerto Ayora,EC,77.40,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [24]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))